<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center landing-logo-container">
    <img class="logo-image" src="<%= asset_path('large-new.jpg') %>"/>

  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 subscription-box">
    <%= render "email_subscriptions/form" %>
  </div>
</div>