// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-logo-container{
  margin-top: 5%;
  margin-bottom: 30px;
}

.subscribe-btn{
  border: none;
  background-color: transparent;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
}

.subscriber-form .input-group-addon{
  padding: 0px !important;
}

.vm-form{
  border: 1px solid #aeaeae;
  padding: 10px;
  margin-top: 100px;
}

.logo-image{
  width: 100px;
}